@charset "utf-8";
/* CSS Document */

/*https://developer.mozilla.org/en-US/docs/Web/CSS/line-height*/

body
{
	width: 100%;
	box-sizing:border-box;
	border: 0%;
	padding: 0%;
	margin: 0%;
	background-color:#AA1B14;
}

/*___________________image containers___________________________________*/

@media (min-aspect-ratio: 1/1) {
  .video-container iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 100vw;
  }
}
    
@media (max-aspect-ratio: 1/1) {
  .video-container iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 50vh;
  }
}
 /*
iframe {
  position: fixed;
  top: -15%;
  left: 0%;
  width: 135vw;
  height: 135vh;
  z-index: -3;
  opacity:0.3;
 transform: translate(-50%, -50%);
	
}*/
#cover{
	position:absolute;
	width: 100%;
	padding:0% 0% 5% 0%;
	margin:0% 0% 0% 0%;
	border:1px;
	border-color: black;
	/*
 	background-size:200%;
	background-position:0% 18%;
	background-repeat:no-repeat;
	background-color:#F92E00;
	opacity:1;*/
}

/*__________________general container __________________________________*/


#container{
	
	width: 100%;
	padding:5% 2% 5% 2%;
	margin:0% 2% 0% 2%;
	background-color: #AA1B14;
	border:1px;
	box-size:border-box;
	color:white;
	opacity:0.9;
	border-color: green;
	
}

/*__________________text___________________________________*/


#name{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:3em;
	font-weight:bold;
	word-break: normal;
	word-wrap: normal;
	word-spacing: normal;
	line-height:1.1;
}

#intro_text{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:1em;
	font-weight:normal;
	line-height:1.5;
	text-align: left;
	word-break: normal;
	word-wrap: break-word;
	word-spacing: normal;
}

.link_btn{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.3em;
	font-weight:normal;
}

.subtitle_section{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.3em;
	font-weight:bolder;
}

.intro_section{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	font-weight:normal;
	line-height: 1.5;	
}

p::first-line{
	line-height: 1.5;
}

p{
	line-height: 1.5;	
}


/*___________________sections___________________________________*/

.section{
	width:80%;
	padding:5% 0% 5% 20%;
	margin: 0% 0% 0% 0%;
	background-color: #1f2F1F;
	float:none;
}


.box{
	width: 90%;
	margin: 5% 5% 2% 5%;
	background-color: none;
}


.subtitle_section
{ 
	width: 90%;
	margin: 5% 5% 5% 5%;
	border-style:solid;
	border-width:1px 0px 1px 0px;
	padding: 5% 0% 5% 0%;
}

.intro_section
{ 
	width: 90%;
	margin: 5% 5% 5% 5%;
}

.link_btn
{ 
	width: 90%;
	margin: 5% 5% 5% 5%;
}
	
#logo {
	width:30%;
	padding:0% 5% 5% 5%;
	margin:5% 5% 0% 0%;
}

#name{
	box-sizing:border-box;
	color:white;
	background-color: transparent;
	border-width:1px 0px 0px 0px;
	border-style: solid;
	
}

#intro_text{
	color:white;
	border-width:0px 0px 10px 0px;
	border-style: solid;
	margin:20% 0% 15% 5%;
}

#section1{
	display:block;
}

/*#section1, #section2, #section3 {
	border-width:0px 0px 20px 0px;
	border-style:solid;
	border-color: grey;
}*/

#section0{
	position:relative;
	width: 80%;
	top:2%;
	left:auto;
	padding:5% 0% 40% 0%;
	margin: 62% 0% 8% 20%;
	background-color: transparent;
	float:none;
	border-bottom:0px;
}




/*-----------------------------------------------*/

#fli, #tmb {display:none;}

/*------------------------------------*/




/*-------------canary------------------*/

.stylenumber{
	position:fixed;
	z-index:3;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:4em;
	top:3%;
	color:white;
}	
#dos, #tres, #uno {display:none;}
#cuatro{display:block}


/*___________________psection patches ___________________________________*/


/*-------------------------------*/
a:visited {
    text-decoration: none;
	
}
a:link {
	text-decoration: none;
	color:white;
}

a:hover {
	font-style: oblique;
	text-decoration: underline;
	font-weight: bolder;
	color:white;
}
